
*{
box-sizing: border-box;
font-family: arial sans-serif;
}
body{
    background-color: #f2f2f2;
    margin:0;

      
}

header,footer{
    background: #333;
    color: white;
    text-align: center;
    padding:15px;
}
main{

padding:20px;
}
section{
    background-color: white;
    padding:20px;
    margin-bottom:20px;
    border-radius:8px;
}
label{
    display:block;
    margin-top:10px;
}
input,button{ 
    width:100%;
    padding:10px;
    margin-top:5px;

}
button{
    background-color:blue;
    color:white;
    border:none;
    cursor:pointer;
    transition:background-color 0.3s;
}
button:hover{
    background-color:darkblue;
}
 